@font-face {
  font-family: Roboto;
  font-weight: 700;
  src: url('shared/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url('shared/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: 300;
  src: url('shared/fonts/Roboto-Light.ttf');
}