@import "normalize";
@import "fonts";
@import "./variables/gloabal";
@import "./themes/light";
@import "./themes/dark";

.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-content {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 10px;
}
