.app.light {
  --bg-color: #dfe0e5;
  --inverted-bg-color: #14212A;

  --primary-color: #48E613;
  --secondary-color: #4A4A4A;
  --inverted-primary-color: #74FF45;
  --inverted-secondary-color: #646464;
}