.Navbar {
  height: var(--navbar-height);
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: var(--inverted-bg-color);
}

.links {
  display: flex;
  margin-left: auto;
  gap: 20px;
}